:root {
    --primary-color:#0d1b2a ;
    --secondary-color:#0d1b2a ;
    --accent1-color: #3b1aa4;
    --accent2-color: #0d1b2a;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Special Gothic Expanded One", sans-serif;
    
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    padding: 30px;
    grid-gap: 10px;
    border: 5px bisque dashed;
}  

header nav {
    display: flex;
    justify-content: flex-end;
}

header a {
    
    width: 120px;
    justify-content: space-around;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight:600 ;
    font-style:normal ;


}



header, main, footer {
    width: 840px;
    margin: 0  auto;
}


h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style:normal ;
    
}

nav, p, section, article {
    margin: 15px;
    padding: 8px;
}

.sociolmedia a {
    text-decoration: none;
}

.sociolmedia {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

}

footer nav {
    display: flex;
    justify-content: flex-end;

}

footer {
    background-color: var(--accent1-color);
    color: #fff;
    padding: 20PX;
    text-align: center;
    position: relative;
    bottom: 0;
    
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer p {
    margin-bottom: 50px;
    top: 20px;
    text-align: center;

}
footer img {
    width: 30px;
    
}

.hero {
    position: relative;
    
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 840px;
    padding: 10px;
    text-align: center;
    opacity:0.7 ;
    background-color: var(--accent1-color);
    color: #fff; /* white text make sure there is enough contrast with the background-color */
    font-size: 70px;

}

h2 {
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.hero article img {
    float: right;
    width: 200px;

    
    
}

article {
    position: absolute;
    top: 170px;
    Max-width: 840px;
    width: 800px;
    Margin: 40px auto;
    Padding: 1px 10px;
    background-color: var(--accent1-color);
    Border: 1px solid #ddd;
    Box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

article p {
    color: #fff;
}




nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	max-width: 900px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
    display: grid;
    grid-template-columns:  repeat(5, 1fr); /*100px 100px 200px, 1fr 2fr 1fr 1fr */ 
    padding: 30px;
    grid-gap: 5px;
    border: 1px;
}




nav a {
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
    flex:  1 1 auto;
    border: 1px solid black;
    padding: 1px;
    font-size: 15px;
    
}

Section {
  Max-width: 840px;
  width: 800px;
  Margin: 40px auto;
  Padding: 20px;
  background-color: var(--secondary-color);
  Border: 1px solid #ddd;
  Box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section p {
    color: #fff;
}


section img {
    float: right;
    width: 200px;
}

 section figure{
    Max-width: 900px;;
    Margin: 2px auto;
    Padding: 1px;
    Background-color: #f9f9f9;
    Border: 1px solid #ddd;
    
    

 }


 Figure {
    Display: inline-block;
    Margin: 10px;
    Text-align: center;
    
  
}

Figure img {
  Width: 200px;
  Height: 200px;
  Border-radius: 15px;
 
}

figcaption {
  Font-size: 15px;
  color: var(--accent2-color);
  
  

  
  
  
}



