:root {
    --primary-color:#0d1b2a ;
    --secondary-color:#0d1b2a ;
    --accent1-color: #3b1aa4;
    --accent2-color: #0d1b2a;
    --heading-font:"Roboto", sans-serif;
    --body-font: "Special Gothic Expanded One", sans-serif;
    
}

.header-container {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    place-items: center;
    padding: 1rem;
    grid-gap: 10px;
    border: 5px bisque dashed;
}  



nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	max-width: 900px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
    display: grid;
    grid-template-columns:  repeat(5, 1fr); /*100px 100px 200px, 1fr 2fr 1fr 1fr */ 
    padding: 30px;
    grid-gap: 5px;
    border: 1px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



nav a {
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
    flex:  1 1 auto;
    border: 1px solid black;
    padding: 1px;
    font-size: 15px;   
}
 

header a {
    
    width: 120px;
    justify-content: space-around;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight:100 ;
    font-style:normal ;


}



header, main, footer {
    width: 840px;
    margin: 0  auto;
}


h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style:normal ;
    
}

nav, p, section, article {
    margin: 15px;
    padding: 8px;
}

.sociolmedia a {
    text-decoration: none;
}

.sociolmedia {
    position: absolute;
}


footer nav {
    display: flex;
    justify-content: flex-end;

}

footer {
    background-color: var(--accent1-color);
    color: #fff;
    padding: 20PX;
    text-align: center;
    position: relative;
    bottom: 0;
    
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer p {
    margin-bottom: 50px;
    top: 20px;
    text-align: center;

}
footer img {
    width: 30px;
    
}

.hero {
    position: relative;
    
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 840px;
    padding: 10px;
    text-align: center;
    opacity:0.7 ;
    background-color: var(--accent1-color);
    color: #fff; /* white text make sure there is enough contrast with the background-color */
    font-size: 70px;

}

h2 {
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.hero article img {
    float: right;
    width: 200px;

    
    
}

article {
    position: absolute;
    top: 170px;
    Max-width: 840px;
    width: 800px;
    Margin: 40px auto;
    Padding: 1px 10px;
    background-color: var(--accent1-color);
    Border: 1px solid #ddd;
    Box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

article p {
    color: #fff;
}



Section {
  Max-width: 840px;
  width: 800px;
  Margin: 40px auto;
  Padding: 20px;
  background-color: var(--secondary-color);
  Border: 1px solid #ddd;
  Box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section p {
    color: #fff;
}


section img {
    width: 100px;
    
}

 .history-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
 }

 

 



figcaption {
  text-align: center;
  Font-size: 10px;
  color: #fff;
}

.adventure_container {
    display: flex;
   
 }

 figure img {
    width: 100px;
 }

 figure {
    padding: 10px;
    margin: 5px;
    text-align: center;
    align-items: center;
 }


label {
  text-align: right;
  padding-right: 1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

.form-item {
  display: grid;
  align-items: center;
}

.column1 {
  grid-template-columns: 1fr 5fr 2fr;
  margin: 2rem 0;
}

.column2 {
  margin: .5rem;
  display: flex;
}

.column3 {
    grid-template-columns: 1fr 3fr 2fr ;
    margin: .5rem; 
}

.meet_container {
    display: flex;
}



.contact-container {
    
    display: flex;
    bottom: 50px;
}

button {
    Background-color: #007BFF;
    Color: white;
    Padding: 10px 20px;
    Text-decoration: none;
    Border-radius: 5px;
    margin: 20px;
}

button:hover {
  background-color: darkgreen;
}



.cta-container {
    Text-align: center;
    
}

.cta-button {
    Background-color: #007BFF;
    Color: white;
    Padding: 10px 20px;
    Text-decoration: none;
    Border-radius: 5px;
}



.trip-container{
    align-items: center;
    display: grid;
    
}
.trip {
    Margin: 20px;
    Text-align: center;
    align-items: center;
    Width: 30%;
}

.trip img{
    Max-width: 500rem;
    width: 200px;
    Border-radius: 8px;
    align-items: center;
    
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 45rem;
  height: 300px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
  font-style: italic;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

thead th {
    background-color: #000;
    color: #fff;
}

th,
td {
  border: 2px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}


.grid-container {
    Display: grid;
    Grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    Gap: 20px;
    Padding: 5px;
    max-width: 1200px;
    margin: auto;
}

.grid-item {
    Padding: 15px;
    Border-radius: 8px;
    Text-align: center;
    Box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    Max-width: 100%;
    width: 100%;
    Border-radius: 8px;
}
