:root {
    --primary-color:#0d1b2a ;
    --secondary-color: #012a4a;
    --accent1-color: #4f772d;
    --accent2-color: #0d1b2a;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Special Gothic Expanded One", sans-serif;
    
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin: 1rem;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;

}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight:700 ;
    font-style:normal ;

.navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	font-family: Arial, sans-serif;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}




    




    
}

header, main, footer {
    width: 840px;
    margin: 0  auto;
}


h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style:normal ;
    
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.sociolmedia a {
    text-decoration: none;
    

}
footer img {
    max-width: 30%;
    width: 30px;
}

.hero {
    position: relative;
    
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 840px;
    padding: 10px;
    text-align: center;
    opacity:0.7 ;
    background-color: var(--accent1-color);
    color: #fff; /* white text make sure there is enough contrast with the background-color */
    font-size: 70px;
}

.hero article img {
    float: right;
    width: 200px;

    
    
}

article {
    position: absolute;
    top: 170px;
}
