main {
    max-width: 840;
}

aside {
    width: 30rem;
    margin: 2rem;
    border: 1px solid rgb(0 0 0/0.2); /* 1️⃣🥇*/
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;

}

main img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: solid 1px ;
    text-align: center;
}

