h1  {
    color: steelblue;

}

nav {
    width: auto;
    
}  
nav a {
    color: blue;
    font-size: larger;
}


main {
    max-width: 840px;
}


main img {
    width: 300px;
    height: auto;
    padding: 1rem ;
    border:  20px;
}

main p {
    width: 50rem;
}

aside {
    width: 30rem;
    margin: 2rem;
    border: 1px solid rgb(0 0 0/0.2); 
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}    


p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: solid 1px ;
    text-align: center;
}


